html {
    background-color: rgb(144, 97, 219);
    color: gainsboro;
}

body {
    background-image: url();
}

/* added by Kyle June 25th, 2020 */
h1 {
    font-family: 'Lobster', cursive;   
}
h3 {
    font-family: 'Lobster', cursive;
    color: #4B0082;
}

.fas {
    font-size: 2rem ;
}

.button {
    width:120px;
    height:100px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    background-color: rgb(33, 2, 56);
}


/* ------------------------------ */

/* the following stylings are for grid setup and should be considered fully replaceable with subsequent foundation styles.  */
.small-4 {
    background-color: rgb(121, 121, 121);
    
}

.top-bar {
    font-family: 'Lobster', cursive;
    background-color:	#4B0082;
}
#content {
    background-color: rgb(82, 0, 224)
}

#results {
    min-height: 50vh;
    background-color: rgb(133, 133, 133);
    margin: 5px 5px 5px 5px;
}
#welcomeMat {
    background-color: rgb(109, 107, 112);
    margin-top: 1vh;
}
#resultscallouts {
    background-image: url(assets/resultsbg.jpg);
    margin-top: 15vh;
    padding-top: 3vh;
    padding-left: 2vh;
}
footer {
    font-family: 'Pacifico', cursive;
    margin-top: 15vh;
    background-color: 	black;
}

/* parallax and weather-dependent classes  */
.parallax {
    background-image: url("assets/parallax.jpg");
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vw;
}
.parallaxClear {
    background-image: url("assets/clearparallax.jpg");
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vw;
}
.parallaxClouds {
    background-image: url("assets/cloudsparallax.jpg");
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vw;
}
.parallaxRain {
    background-image: url("assets/rainparallax.jpg");
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vw;
}
.default {
    background-color: #6818d0a6 ;
}
.clear {
    background-color: #d8b700a6 ;
}
.clouds {
    background-color: #5365ada2 ;
}
.rain {
    background-color: #1b1a58b0 ;
}

/* 
in js inside weather call function


if (response.weather[0].main === "clear") {
 $("body").removeClass("parallax");
 $("body").addClass("parallaxClear");
 $(".top-bar").addClass("clear");
 $("footer").addClass("clear");
} 
if (response.weather[0].main === "clouds") {
    $("body").removeClass("parallax");
    $("body").addClass("parallaxClouds");
    $(".top-bar").addClass("clouds");
    $("footer").addClass("clouds");
    
} 
if (response.weather[0].main === "rain") {
    $("body").removeClass("parallax");
    $("body").addClass("parallaxClouds");
    $(".top-bar").addClass("rain");
    $("footer").addClass("rain");
} 




*/