html {
    background-color: rgb(0, 0, 0);
    color: white;
    min-height: 100vh;
    min-width:100vw;
}

body,
main {
    min-height: 100vh;
    min-width:100vw;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.none {
    display: none;
}

#weatherTop {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 2rem;
    padding-top: 1em;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

h1 {
    font-family: 'Lobster', cursive;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #4B0082;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #2c0164;
    text-shadow: white;
}

.fas {
    font-size: 2rem;
}

.button {
    width: 120px;
    height: 80px;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.1em;
    background-color: rgb(33, 2, 56);
    /* the following line deals with additional curvature of our buttons */
    border-radius: 40px;
}

#reset {
    font-family: 'Lobster', cursive;
    text-shadow: white;
    margin-top:1vh;
}

#feelsLabel {
    font-family: 'Lobster', cursive;
    text-shadow: rgb(15, 14, 14);
    margin:2vh auto;
    color: white;
}

#weatherIconHost {
    display: inline-block;
}

.top-bar {
    font-family: 'Lobster', cursive;
    background-color: black;
    color: ghostwhite;
    min-height: 10vh;
    padding: 0 2vw;
}

#welcomeMat {
    margin-top: 1vh;
}

#resultscallouts {
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 1vh;
    padding-bottom: 3vh;

    /* handles the overflow scrolling  */
    overflow-y: scroll;
    height: 65vh;
    overflow-x: scroll;
    width:80vw;
}

iframe {
    padding: 1px;
    margin: 3vh 2vh;
}

footer {
    font-family: 'Pacifico', cursive;
    margin-top: 10vh;
    background-color: black;
    height: 10vh;
}

/* parallax and weather-dependent classes - input by EV on 6/25  */
.parallax {
    background-image: url("./assets/parallax.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.parallaxClear {
    background-image: url("./assets/clearparallax.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.parallaxClouds {
    background-image: url("./assets/cloudsparallax.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.parallaxRain {
    background-image: url("./assets/rainparallax.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.default {
    background-color: #6818d0a6;
}

.clear1 {
    background-color: #e9ca19;
}

.clouds {
    background-color: #4e64bde3;
}

.rain {
    background-color: #121141;
}


/* The following css block handles the span animations around the start button  */
#startBtn{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 200px 0;
    color: #03e9f4;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    /* margin-right: 50px; */
    font-size: 3rem;
}
#startBtn:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#startBtn:nth-child(1){
    filter: hue-rotate(110deg);
}
#startBtn span{
    position: absolute;
    display: block;
}
#startBtn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
#startBtn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
#startBtn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
#startBtn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/* start button css handling for animate spans complete  */

#localCallout {
    background-color: rgba(230, 230, 250, 0.308);
    border-radius: 5 px;
    margin: 10vh, 20vw;
    word-wrap: break-word;
    max-width: 90vw;
}
/* local storage callout styling  */
#localCallout h5 {
    font-family: 'Lobster', cursive;
    text-shadow: rgb(85, 84, 84);
    color: rgb(195, 214, 231);
    padding-right: 1vw;
    margin-top:1vh;
    margin-right: 1vh;
}

h4 {
    font-family: 'Lobster', cursive;
    color: #4B0082;
}
.returnString {
    font-family: 'Lobster', cursive;
    color: white;
    word-wrap: break-word;
}